<h1 class="sklz"> SKILLS </h1>

<div class="skills box">
  <img src="html5.png" alt="HTML5 Icon" class="boxes">
  <img src="css3.png" alt="CSS3 Icon" class="boxes">
  <img src="sass.png" alt="SASS Icon" class="boxes">
  <img src="JavaScript.png" alt="JS Icon" class="boxes">
  <img src="angularjs.jpeg" alt="AngularJS Icon" class="boxes">
  <img src="reactjs.png" alt="ReactJS Icon" class="boxes">
  <img src="vuejs.png" alt="VueJS Icon" class="boxes">
  <img src="nodejs.png" alt="NodeJS Icon" class="boxes">
  <img src="expressjs.png" alt="Express Icon" class="boxes">
  <img src="sql.png" alt="SQL Icon" class="boxes">
</div>

<div id="about" class="tall">

</div>


<div class="site-wrap">
  <h1 class="me"></h1>
  <p>Hey there! My name is Brian Turner, and I'm a Full-Stack Web Developer. I specialize in HTML/CSS, SASS, ES6 (JavaScript), Angular, React, Node.js, Express, SQL, and have done some projects in VueJS. I'm currently going through an Angular 2 tutorial; I love learning new languages, and learning new aspects of languages I already know. I got my Bachelor's degree in Spanish from Utah Valley University, becuase I love to learn new languages.</p>
  <p>The first job I had doing development was at SecurityMetrics in Orem, UT. I was the Internal Content Developer, and one of my main responsibilities was to develop and program the new internal wiki system for the entire company. There was an existing wiki that I was tasked with taking it down, and finding the parts that were still useful. Basically I had to build the wiki from the ground up, and then it was my job to maintain and update the wiki, making sure that it had the most up to date information for each department. I built the wiki using mainly HTML/CSS, and an old language specific to the exact wiki system called MoinMoin.</p>
  <p>I ended up leaving that job, due to financial needs and being offered a job that had a better potential of meeting those needs. Over the next year, I spent the majority of my free-time online going through sites like Code Academy and Kahn Academy, and finding different tutorials to learn bits and pieces of multiple languages. In January of 2017, I began a 3 month immersive Web Development boot camp learning full-stack web development. The main languages covered were HTML/CSS, SASS, JavaScript (ES6), Angular, React, Node.js, Express, and SQL. We learned about RESTful APIs, and how to access those APIs and make calls to retrieve or post data. The program ended in the beginning of April. I was offered two different internships, one of which I accepted and was set to begin on May 8th. Unfortunately, I had some personal and family issues come up, so I had to get back in touch with the company and let them know that I would not be able to move forward with the Internship.</p>
  <p>I'm currently looking for a postition as a Web Developer or UX/UI Designer in  Utah County or SL County. I love learning, and I'm eager to find a Dev team to join where I can learn from the Senior Developers, and continually challange myself.
    <hr />
    <br>

</div>
