<div class="site-wrap">
<h1 id="projects" class="proj">Recent Projects</h1>
<div class="baseline"></div>
<br>
<div class="tall">

</div>
<h1 class="tytl">ALPHA CLOTHING</h1>
<a href="http://alpha.matthewmecham.com/#/"><img src="alpha.png" class="alpha"></a>

<p class="alphap">Clone of the website alphaclothing.co. The three of us in this group had just learned the very basics of React, so we decided to challange ourselves by doing our group project in React, along with Redux, to build our clone of the site. I implemented a CSS pre-processor called Styl, which is similar to SASS, and it was quite useful for creating some of the animations on the site. I actually feel like our finished product looks much cleaner than the original website did at the time (it may have been updated by the time you read this), and I am incredibly proud of what we accomplished; not only were we pretty new to web development, we had only spent a day or two learning the extreme basics of React. Click the project image to view the website!</p>
<br>
<hr>
<br>
<h1 class="tytl">NFL ARRESTS</h1>
<a href="bltwebsite.com"><img src="noserver.png" class="align-right slide-in nfl"></a>
<div class="nflp">
<p>This is a website that I built using HTML/CSS, SCSS, Gulp, Angular, and ES6, and I utilized Angular's UI Router for the page views. The website makes calls to a public API that provides information about all arrests of NFL players dating back to January of the year 2001. I created some CSS animations for each page, as well. It started as a way to just practice making API calls in Angular, and then I decided to make it into an actual website! Click the project image to view the website!</p>
</div>
<div class="cb"></div>
<br>
<hr>
<br>
<h1 class="tytl">WORKOUT TRACKER</h1>
<img src="workout.png" class="align-right slide-in wkout">
<div class="cb">

</div>
<p class="wkoutp">This is a website that I built for tracking and logging workouts. You can log runs, bike rides, and gym workouts, so that you can set goals and keep track of your progress. The front-end is built with HTML/CSS, Angular, Gulp, SASS, ES6, with Auth0 for log-in and the back-end uses Node.js, Express, and SQL. The website was ready to be hosted, when the motherboard on my old computer decided it was done functioning. I have since gotten it transferred onto a new computer, but the Postgres database on the new computer isn't playing nice, so I'm in the process of setting up a new database program for the back-end before hosting it. Check back soon to view the website!</p>
<br>
</div>
